header{
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--bg-color);
}

header a {
  text-decoration: none;
  color: var(--text);
}

header .links a{
  margin-inline: 8px;
  transition: all .3s;
  /* font-weight: 500; */
}
header .links a:hover{
  color: var(--primary);
  text-decoration: underline;
}

header .menu {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.search_user {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .search {
  background-color: #fff;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
}
header .search:hover,
header .search:has(input:focus) {
  border: 1px solid var(--btn-bg);
}

header .search input {
  border: none;
  outline: none;
  background: none;
}

header .user {
  border-radius: 50px;
  padding: 4px 12px;
  transition: all ease .3s;
}
header .user:hover {
  background-color: #e8e8e8;
} 
header .user a {
  text-wrap: nowrap;
}

.open-close-menu {
  display: none;
  z-index: 11;
}
.header-mobile {
  display: none;
}

@media (max-width: 900px) {
  .open-close-menu {
    display: block;
    appearance: none;
    border: none;
    background-color: transparent;
  }

  .header-mobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 100%;
    max-width: 300px;
    padding: 20px;

    transform: translateX(100%);
    transition: all ease .3s;
  }

  .header-mobile .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .header-mobile .links a{
    text-wrap: nowrap;
    white-space: none;
  }


  .header-desktop {
    display: none;
  }

  header .user a span{
    display: none;
  }
}