main .camisas-banner {
    height: 400px;
    position: relative;
    margin-bottom: calc(var(--space-between-sections-index) + 15px);
    margin-top: 65px;
  }
  
  main .camisas-banner img{
    filter: brightness(80%);
    transition: opacity 3s ease-in-out;
  }
  
  main .camisas-banner img:hover{
    filter: brightness(50%);
  }
  
  
  main .camisas-banner h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: white;
    font-size: 5rem;
    font-weight: 800;
    max-width: 700px;
    line-height: 100%;
  }
  
  
  main .camisas-banner h1 span{
   color: var(--primary);
    background-color: white;
    line-height: 150%;
  }
  
  .camisas-title{
    padding-left: 5%;
    color: var(--primary);
  }