*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 15px;
    height: 100%;
    width: 100%;
}

.container{
    position: relative;
    border-radius: 10px;
    margin: 10px;
    height: 500px;
    width: 380px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.container:hover{
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.container .image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.container:hover .image img{
    transform: scale(1.1);
}

.container .card-content{
    height: 100%;
    width: 100%;
    position: relative;

}

.card-content .wrapper{
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    bottom: -100%;
    padding: 10px 25px;
    box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
    transition: bottom 0.3s ease;
}

.container:hover .wrapper{
    bottom: 0px;

}

.wrapper .title{
    font-size: 22px;
    font-weight: 500;
}

.wrapper p{
    font-size: 17px;
    color: gray;
}

.wrapper .price{
    position: absolute;
    right: 30px;
    top: 10px;
    color: var(--primary);
    font-size: 23px;
    font-weight: 600;

}

.wrapper .content{
    margin: 10px 0;


}

.wrapper .content .name{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}

.wrapper .content .size-value{
    display: flex;
    width: 50%;
    margin: 5px 0;
    justify-content: space-between;
}

.wrapper .content .size-value span{
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    color: var(--primary);
    border-radius: 50%;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;

}

.content .size-value span.active{
    background: var(--primary);
    color: #fff;
}

.content .colour-value{
    display: flex;
    width: 30%;
    margin: 10px 0;
    justify-content: space-between;

}

.content .colour-value span{
    height: 18px;
    width: 18px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}


.content .colour-value span.white{
    background: lightgrey;
}

.content .colour-value span.black{
    background: black;
}

.content .colour-value span.gray{
    background: gray;
}

.content .colour-value span.yellow{
    background: yellow;
}

.content .colour-value span.red{
    background: red;
}

.content .colour-value span.active:after{
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    top: -4px;
    left: -4px;
    border: 2px solid var(--primary);
    box-sizing: border-box;
    border-radius: 50%;
}


.wrapper .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.wrapper .btns button{
    width: 100%;
    height: 50%;
    margin: 0 10px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background: var(--primary);
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}